  
.App {
  font-family: sans-serif;
  text-align: center;
}


.tablica {
  border:1px solid black;
  margin-left:auto;
  margin-right:auto;
}

tbody tr{background-color: #def;height:50px;}

h2{text-align:center}

.naslov {
  font-weight: bold;
  padding-bottom: 25px;
}
.naslov:first-letter {
  text-transform: uppercase;
}
.id {
  color: #e8eaf6 !important;
  text-align: center;

}

.tekst {
  color: grey;
  max-width: 500px;
}

.tekst:first-letter {
  text-transform: uppercase;
}

.center {
  text-align: center;
}